.salon-owner-app {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  /* Add padding at the bottom to avoid content being hidden by the mobile nav */
  padding-bottom: 80px; 
}

.main-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.logout-button {
    padding: 0.5rem 1rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}


@media (max-width: 767px) {
  .salon-owner-app {
    flex-direction: column;
  }

  .main-content {
    padding-bottom: 90px;
    overflow-y: auto;
    flex-grow: 1;
  }
}
